serverless/statemachines/document-processing.asl.json
{
  "Comment": "DocuPilot document processing state machine",
  "StartAt": "GeminiProcessDocument",
  "States": {
    "GeminiProcessDocument": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${GeminiProcessDocumentFunctionArn}",
        "Payload.$": "$"
      },
      "ResultPath": "$.gemini",
      "Next": "PersistResults",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ]
    },
    "PersistResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${PersistResultsFunctionArn}",
        "Payload.$": "$"
      },
      "ResultPath": "$.persist",
      "Next": "RecordApprovalToken",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ]
    },
    "RecordApprovalToken": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${RecordApprovalTokenFunctionArn}",
        "Payload.$": "$"
      },
      "ResultPath": "$.approval",
      "End": true,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ]
    },
    "MarkFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${MarkFailedFunctionArn}",
        "Payload.$": "$"
      },
      "End": true
    }
  }
}
