serverless/statemachines/document-processing.asl.json
{
  "Comment": "DocuPilot document processing state machine",
  "StartAt": "GeminiProcessDocument",
  "States": {
    "GeminiProcessDocument": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${GeminiProcessDocumentFunctionArn}",
        "Payload.$": "$"
      },
      "ResultPath": "$.gemini",
      "Next": "PersistResults",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.SdkClientException", "States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ]
    },
    "PersistResults": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${PersistResultsFunctionArn}",
        "Payload.$": "$"
      },
      "ResultPath": "$.persist",
      "Next": "WaitForApproval",
      "Retry": [
        {
          "ErrorEquals": ["Lambda.ServiceException", "Lambda.SdkClientException", "States.TaskFailed"],
          "IntervalSeconds": 2,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ]
    },
    "WaitForApproval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "${RecordApprovalTokenFunctionArn}",
        "Payload": {
          "bucket.$": "$.bucket",
          "key.$": "$.key",
          "userId.$": "$.userId",
          "documentId.$": "$.documentId",
          "taskToken.$": "$$.Task.Token"
        }
      },
      "ResultPath": "$.approval",
      "Next": "ApprovalCompleted",
      "Catch": [
        {
          "ErrorEquals": ["DocumentRejected", "States.TaskFailed"],
          "ResultPath": "$.approvalError",
          "Next": "ApprovalRejected"
        },
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkFailed"
        }
      ]
    },
    "ApprovalCompleted": {
      "Type": "Pass",
      "End": true
    },
    "ApprovalRejected": {
      "Type": "Pass",
      "End": true
    },
    "MarkFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${MarkFailedFunctionArn}",
        "Payload.$": "$"
      },
      "End": true
    }
  }
}
